<div class="play-list-body" >
    <ul class="play-list-table-header">
        <li (click)="changeSort('name')">Nombre ↕️</li>
        <li (click)="changeSort('album')">álbum ↕️</li>
        <li>Artista🎙️</li>
        <li>Nacionalidad🌎</li>
        
    </ul>
    <ul class="play-list-rows" *ngFor="let track of tracks | orderList:optionSort.property:optionSort.order">
        <li class="track-name">
            <ng-container *ngTemplateOutlet="coverSection;context:{track:track}"></ng-container>
        </li>
        <li class="track-name-opacity">
            {{track.album}}
        </li>
        <li class="track-name-opacity">
            {{track.artist?.name}}
        </li>
        <li class="track-name-opacity">
            {{track.artist?.nationality}}
        </li>


    </ul>
</div>

<!-- ZONE TEMPLATES -->
<!--template del cover-->
<ng-template #coverSection let-track="track">

    <div class="cover-section">
        <img appImgBroken class="cover-track" [src]="track.cover" [alt]="track.name">
        <div class="cover-info">
            <div class="name-track">{{track.name}}</div>
            <div class="name-track-details">{{track.artist.name}}</div>
            <div class="track-like">
                <button (click)="sendfavorites(track)" class="liked like-btn" >
                    <i class="uil uil-heart"></i>
                </button>
            </div>
        </div>
    </div>

</ng-template>

